# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

.eslintcache
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
temp

# environment variables
.env
.env.development
.env.production